body {
  background-color: #132030;
  background-size: 100% 110%;
  background-repeat: no-repeat;
  font-family: "Iceberg", cursive;
  overflow: hidden;
  color: white;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
}

footer {
  background: #132030;
  float: bottom;
  border-top: 1px solid #00000054;
  color: #ddd;
  margin-top: 40px;
  height: 60px;
  font-size: 14px;
  text-align: center;
}

.planetimg {
  height: 300px;
  width: 300px;
  margin: 0px;
  /*border: 1px solid white;*/
  margin: 20px;
  box-shadow: 10px 10px #132030;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 400px;
  width: 800px;
  margin-left: 400px;
  border: 1px solid white;
  background-color: #29394d;
  margin-top: 50px;
  text-align: left;
}

p {
  margin-top: 0px;
  margin-left: 10px;
  padding-top: 0px;
  height: 200px;
  font-size: 15px;
  margin-bottom: 100px;
}

p::first-line {
  font-weight: bolder;
  font-size: 30px;
  justify-self: center;
}
button {
  background-color: #072742;
  color: white;
  margin-left: 20px;
  margin-top: 20px;
  height: 30px;
  width: 60px;
  font-family: "Iceberg", cursive;
  border: 1px solid white;
}
.gitimg {
  height: 20px;
  width: 20px;
  margin-left: 10px;
  box-shadow: 5px 5px #132030;
}
a {
  color: burlywood;
}
