body {
  background-image: url("Images/image1final.jpg");
  width: 1440px;
  height: 1024px;
  background-size: cover;
}
.navigationContainer {
  display: flex;
  height: 50px;
  width: 1250px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 10px;
  margin-bottom: 50px;
  border: 0.5px solid white;
  justify-content: flex-end;
  background-color: transparent;
  opacity: 0.5;
  border-radius: 5px;
  align-self: center;
  /*visibility: hidden;*/
}
.navigationContainer:hover {
  background-color: #3c74a1;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  column-gap: 20px;
  margin-left: 650px;
  margin-right: 50px;
}
a {
  color: white;
  text-decoration: none;
}
.p-menu {
  width: 50px;
  height: 0.1px;
  padding: 2px;
  color: white;
  background-color: white;
  margin: 5px;
}
.menu {
  display: block;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  margin-right: 90px;
  margin-top: 10px;
  /*border: 1px solid white;*/
  height: 150px;
  width: 150px;
}
.dropdown-content {
  display: none;
  list-style: none;
  background-color: transparent;
  margin-top: 30px;
}
.li-menu {
  margin-top: 10px;
  margin-left: 0px;
  /*border: 1px solid white;*/
  border-radius: 5px;
  width: 150px;
  height: 20px;
  background-color: #3c74a1;
  color: white;
}
.menu:hover .dropdown-content {
  display: block;
}

.p-main {
  margin: auto;
  display: block;
  align-items: center;
  font-family: "Iceland", cursive;
  font-family: "Source Serif Pro", serif;
  /*border: 1px solid white;*/
  margin-top: 70px;
  margin-left: 400px;
  margin-right: 300px;
  margin-bottom: 20px;
  color: white;
  font-size: 50px;
  text-decoration: underline;
  font-family: "Iceland", cursive;
  font-family: "Iceberg", cursive;
  font-family: "Iceland", cursive;
}

.p-sub {
  font-size: 16px;
  margin: auto;
  display: block;
  align-items: center;
  font-family: "Iceland", cursive;
  font-family: "Source Serif Pro'", serif;
  /* border: 1px solid white;*/
  margin-top: 15px;
  margin-left: 400px;
  margin-right: 300px;
  margin-bottom: 700px;
  color: white;
  font-family: "Iceberg", cursive;
  font-family: "Iceland", cursive;
}
.explore {
  display: flex;
}
img {
  height: 100px;
  width: 100px;
  background-color: white;
}
