body,
html {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "Iceberg", cursive;
  line-height: 1.8em;
  color: #666;
}

footer {
  background-color: #3f3f3f;
  float: bottom;
  border-top: 1px solid #00000054;
  color: #ddd;
  height: 60px;
  font-size: 10px;
  font-family: "Iceberg", cursive;
  text-align: center;
}

a {
  color: #fff;
}

.navbar {
  float: left;
}

/* Settings for all parallax images */
.dplanet1,
.dplanet2,
.dplanet3,
.dplanet4,
.dplanet5 {
  position: relative;
  opacity: 0.9;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Settings for individial parallax images */
.dplanet1 {
  background-image: url("img/plutoCharon-nasa.jpg");
  min-height: 100%;
}

.dplanet2 {
  background-image: url("img/eris-eso.webp");
  min-height: 500px;
}

.dplanet3 {
  background-image: url("img/Haumea-nasa.jpg");
  min-height: 500px;
}

.dplanet4 {
  background-image: url("img/makemake-nasa.jpg");
  min-height: 500px;
}

.dplanet5 {
  background-image: url("img/ceres-nasa.jpg");
  min-height: 500px;
}

/* Text section */
.section {
  text-align: center;
  padding: 15px 55px;
  background-color: #3f3f3f;
  color: #ddd;
  margin: -10px;
  line-height: 1.1;
  font-style: italic;
}

/* Header text for images */
.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 25px;
  letter-spacing: 8px;
  text-transform: uppercase;
  text-shadow: 2px 2px #282e34;
}

/* More header text on images */
.ptext .border {
  color: #fff;
  padding: 20px;
  font-family: "Iceberg", cursive;
  font-weight: 400;
  font-size: 50px;
  text-shadow: 3px 4px black;
}

/* transparant border around the text paragraphs */
.ptext .border.trans {
  background-color: transparent;
}
/* max width on images */
@media (max-width: 568px) {
  .dplanet1,
  .dplanet2,
  .dplanet3,
  .dplanet4,
  .dplanet5 {
    background-attachment: scroll;
  }
}
