body,
html {
  height: 100%;
<<<<<<< Updated upstream
=======
  width: auto;
>>>>>>> Stashed changes
  margin: 0;
  font-size: 16px;
  font-family: "Iceberg", cursive;
  line-height: 1.8em;
  color: #666;
}

footer {
<<<<<<< Updated upstream
  background-color: #3f3f3f;
=======
  background: rgb(63, 63, 63);
  background: linear-gradient(
    90deg,
    rgba(63, 63, 63, 1) 0%,
    rgba(15, 15, 15, 1) 50%,
    rgba(63, 63, 63, 1) 100%
  );
>>>>>>> Stashed changes
  float: bottom;
  border-top: 1px solid #00000054;
  color: #ddd;
  height: 60px;
  font-size: 10px;
  font-family: "Iceberg", cursive;
  text-align: center;
}

a {
  color: #fff;
}

.navbar {
  float: left;
}

/* Settings for all parallax images */
<<<<<<< Updated upstream
.dplanet1,
.dplanet2,
.dplanet3,
.dplanet4,
.dplanet5 {
=======
.planet1,
.planet2,
.planet3,
.planet4,
.planet5,
.planet6,
.planet7,
.planet8,
.planet9,
.planet10 {
  min-height: 40%;
>>>>>>> Stashed changes
  position: relative;
  opacity: 0.9;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

<<<<<<< Updated upstream
/* Settings for individial parallax images */
.dplanet1 {
  background-image: url("img/plutoCharon-nasa.jpg");
  min-height: 100%;
}

.dplanet2 {
  background-image: url("img/eris-eso.webp");
  min-height: 500px;
}

.dplanet3 {
  background-image: url("img/Haumea-nasa.jpg");
  min-height: 500px;
}

.dplanet4 {
  background-image: url("img/makemake-nasa.jpg");
  min-height: 500px;
}

.dplanet5 {
  background-image: url("img/ceres-nasa.jpg");
  min-height: 500px;
=======
.collapsed {
  min-height: 35%;
}

.expanded {
  min-height: 90%;
}

/* Settings for individial parallax images */
.planet1 {
  background-image: url("img/shot-by-cerqueira-0o_GEzyargo-unsplash\ \(1\).jpg");
  min-height: 80%;
}

.planet2 {
  background-image: url("img/thesun-unsplash.jpg");
}

.planet3 {
  background-image: url("img/mercury-unsplash.jpg");
}

.planet4 {
  background-image: url("img/Venus-Wikipedia.png");
}

.planet5 {
  background-image: url("img/earth-unsplash.jpg");
}

.planet6 {
  background-image: url("img/mars-unsplash.jpg");
}

.planet7 {
  background-image: url("img/jupiter-wikipedia.jpg");
}

.planet8 {
  background-image: url("img/saturn-unsplash.jpg");
}

.planet9 {
  background-image: url("img/Uranus-Nasa-Wikipedia.jpg");
}

.planet10 {
  background-image: url("img/nuptun-unsplash.jpg");
>>>>>>> Stashed changes
}

/* Text section */
.section {
  text-align: center;
  padding: 15px 55px;
<<<<<<< Updated upstream
  background-color: #3f3f3f;
=======
  /* background-color: #3f3f3f; */
>>>>>>> Stashed changes
  color: #ddd;
  margin: -10px;
  line-height: 1.1;
  font-style: italic;
<<<<<<< Updated upstream
=======
  background: rgb(63, 63, 63);
  background: linear-gradient(
    90deg,
    rgba(63, 63, 63, 1) 0%,
    rgba(15, 15, 15, 1) 50%,
    rgba(63, 63, 63, 1) 100%
  );
}

/* Eggs */
footer:hover {
  position: relative;
}
footer:hover:after {
  content: url(img/egg1.png);
  display: block;
  position: absolute;
  left: 0px;
  top: -550px;
>>>>>>> Stashed changes
}

/* Header text for images */
.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 25px;
  letter-spacing: 8px;
  text-transform: uppercase;
  text-shadow: 2px 2px #282e34;
}

/* More header text on images */
.ptext .border {
  color: #fff;
  padding: 20px;
  font-family: "Iceberg", cursive;
  font-weight: 400;
  font-size: 50px;
  text-shadow: 3px 4px black;
}

/* transparant border around the text paragraphs */
.ptext .border.trans {
  background-color: transparent;
}
/* max width on images */
@media (max-width: 568px) {
<<<<<<< Updated upstream
  .dplanet1,
  .dplanet2,
  .dplanet3,
  .dplanet4,
  .dplanet5 {
=======
  .planet1,
  .planet2,
  .planet3,
  .planet4,
  .planet5,
  .planet6,
  .planet7,
  .planet8,
  .planet10 {
>>>>>>> Stashed changes
    background-attachment: scroll;
  }
}
